body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.register-container {
  background: #fff;
  padding: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
label {
  display: block;
  text-align: left;
  margin-top: 10px;
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  background: #000000;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #000000;
}
p {
  margin-top: 10px;
}
a {
  color: #200448;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
